<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Prediction</h1>
    <div class="col-6 offset-3">
        <form action="/emodetect" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <input class="form-control" type="file" id="image" name="image"  >
                <label for="image" class="form-label">Default file input example</label>   
                
            </div>
            <!-- <div>
                <input type="text" name="img" id="img">
            </div> -->
            <div class="mb-3">
                <button class="btn btn-success">Predict</button>
            </div>
        </form>
        <a href="/emodetect">All Prediction</a>
    </div>
</div>